<div class="container">
  <div class="row">
    <div class="col-4"></div>

    <div class="col-lg-4 col-xs-12 card-login mb-3 text-center p-3">
      <h3 class="mb-5">SignIn</h3>
      <form [formGroup]="formSignIn" (submit)="handleSubmit()">
        <input
          type="text"
          class="form-control mb-3"
          placeholder="email"
          formControlName="email"
        />
        <input
          type="password"
          class="form-control my-4"
          placeholder="password"
          formControlName="password"
        />
        <a [routerLink]="['/user/signup']" class="mt-4 btn btn-link"
          >Criar Conta</a
        >
        <button
          class="mt-1 btn btn-block btn-signin"
          type="submit"
          [disabled]="formSignIn.invalid"
        >
          ENTRAR
        </button>
      </form>
    </div>

    <div class="col-4"></div>
  </div>
</div>
